.version.issue_two /* version checker */
{
	color: #00000B;
	background-color: #817531;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.4673076923045px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -9397px;
	width: 0.01px;
}

#ppamphletu6081
{
	width: 0.01px;
	padding-bottom: 2636px;
	margin-left: 5px;
}

#pamphletu6081
{
	z-index: 598;
	width: 0.01px;
	height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
}

#u6084
{
	z-index: 599;
	width: 90px;
	position: relative;
	margin-right: -10000px;
}

#u6085
{
	position: absolute;
	width: 90px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6085
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6085:hover
{
	width: 90px;
	height: 54px;
	min-height: 0px;
	margin: 0px;
}

#u6086
{
	position: absolute;
	width: 702px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: -402px;
	left: 2642px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6086popup
{
	z-index: 601;
}

#u6087
{
	z-index: 602;
	width: 641px;
	height: 3022px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-right: 17px;
	padding-bottom: 26px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6101-5
{
	z-index: 623;
	width: 446px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	margin-left: 98px;
	position: relative;
}

#u6097
{
	z-index: 609;
	width: 638px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 40px;
	position: relative;
}

#u6102-4
{
	z-index: 611;
	width: 446px;
	min-height: 38px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #000000;
	line-height: 18px;
	margin-left: 2px;
	margin-top: 41px;
	position: relative;
}

#u6090
{
	z-index: 603;
	width: 639px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 31px;
	position: relative;
}

#u6089-4
{
	z-index: 615;
	width: 446px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 2px;
	margin-top: 9px;
	position: relative;
}

#u6092
{
	z-index: 628;
	width: 641px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6088-4
{
	z-index: 629;
	width: 446px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 25px;
	position: relative;
}

#u6099
{
	z-index: 605;
	width: 641px;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u6095
{
	z-index: 607;
	width: 641px;
	background-color: transparent;
	position: relative;
}

#u6094-4
{
	z-index: 619;
	width: 446px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 29px;
	position: relative;
}

#u6105
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: -357px;
	left: 3126px;
}

#u6105:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6106-4
{
	z-index: 634;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5853
{
	z-index: 89;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 48px;
}

#u5854
{
	z-index: 90;
	width: 281px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5855-10
{
	z-index: 91;
	width: 281px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#pamphletu6128
{
	z-index: 672;
	width: 0.01px;
	height: 52px;
	margin-left: 121px;
	top: -2675px;
	margin-bottom: -52px;
	position: relative;
}

#u6141
{
	z-index: 673;
	width: 119px;
	position: relative;
	margin-right: -10000px;
}

#u6142
{
	position: absolute;
	width: 119px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6085:hover,.ie #u6142
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6142:hover
{
	width: 119px;
	height: 52px;
	min-height: 0px;
	margin: 0px;
}

#u6129
{
	position: absolute;
	width: 1020px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: -406px;
	left: 10451px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6129popup
{
	z-index: 675;
}

#u6130
{
	z-index: 676;
	width: 836px;
	height: 2400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 70px;
	padding-right: 70px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6133-6
{
	z-index: 677;
	width: 836px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	position: relative;
}

#u6137
{
	z-index: 695;
	width: 718px;
	background-color: transparent;
	margin-left: 59px;
	margin-top: 38px;
	position: relative;
}

#u6134-4
{
	z-index: 683;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 59px;
	margin-top: 29px;
	position: relative;
}

#u6135
{
	z-index: 687;
	width: 729px;
	background-color: transparent;
	margin-left: 59px;
	margin-top: 28px;
	position: relative;
}

#u6132-4
{
	z-index: 691;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 59px;
	margin-top: 20px;
	position: relative;
}

#u6139
{
	z-index: 689;
	width: 735px;
	background-color: transparent;
	margin-left: 59px;
	margin-top: 25px;
	position: relative;
}

#u6131-4
{
	z-index: 697;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 60px;
	margin-top: 12px;
	position: relative;
}

#u6147
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: -329px;
	left: 11110px;
}

#u6147:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6148-4
{
	z-index: 702;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu5805
{
	width: 0.01px;
	padding-bottom: 1402px;
	margin-left: 7px;
	margin-top: -3072px;
}

#u5805
{
	z-index: 2;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 274px;
}

#u5857
{
	z-index: 101;
	width: 286px;
	min-height: 104px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 65px;
}

#u5899
{
	z-index: 156;
	width: 53px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu6045
{
	z-index: 540;
	width: 0.01px;
	height: 46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 341px;
	left: 151px;
}

#u6059
{
	z-index: 541;
	width: 107px;
	position: relative;
	margin-right: -10000px;
}

#u6060
{
	position: absolute;
	width: 107px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6142:hover,.ie #u6060
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6060:hover
{
	width: 107px;
	height: 46px;
	min-height: 0px;
	margin: 0px;
}

#u6050
{
	position: absolute;
	width: 1050px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: -335px;
	left: 8486px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6050popup
{
	z-index: 543;
}

#u6051
{
	z-index: 544;
	width: 836px;
	height: 1739px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 85px;
	padding-right: 85px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6053-6
{
	z-index: 549;
	width: 836px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	position: relative;
}

#u6057
{
	z-index: 547;
	width: 717px;
	background-color: transparent;
	margin-left: 59px;
	margin-top: 43px;
	position: relative;
}

#u6056-4
{
	z-index: 555;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 59px;
	margin-top: 22px;
	position: relative;
}

#u6054
{
	z-index: 545;
	width: 717px;
	background-color: transparent;
	margin-left: 59px;
	margin-top: 23px;
	position: relative;
}

#u6052-4
{
	z-index: 559;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 59px;
	margin-top: 21px;
	position: relative;
}

#u6046
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: -260px;
	left: 9141px;
}

#u6046:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6047-4
{
	z-index: 564;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pamphletu5861
{
	z-index: 102;
	width: 0.01px;
	height: 42px;
	margin-left: 7px;
	top: -2940px;
	margin-bottom: -42px;
	position: relative;
}

#u5862
{
	z-index: 103;
	width: 127px;
	position: relative;
	margin-right: -10000px;
}

#u5863
{
	position: absolute;
	width: 127px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6060:hover,.ie #u5863
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5863:hover
{
	width: 127px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u5868
{
	position: absolute;
	width: 730px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 1348px;
	left: 13346px;
	-pie-background: rgba(255,255,255,0.9);
}

#u5868popup
{
	z-index: 105;
}

#u5869
{
	z-index: 106;
	width: 686px;
	height: 2148px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 40px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5870-4
{
	z-index: 111;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	margin-left: 114px;
	position: relative;
}

#u5874
{
	z-index: 109;
	width: 685px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 70px;
	position: relative;
}

#u5876-4
{
	z-index: 115;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 16px;
	position: relative;
}

#u5872
{
	z-index: 107;
	width: 685px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 77px;
	position: relative;
}

#u5871-4
{
	z-index: 119;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 15px;
	position: relative;
}

#u5866
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 1408px;
	left: 13896px;
}

#u5866:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5867-4
{
	z-index: 124;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu5836-6
{
	width: 0.01px;
	padding-bottom: 9797px;
	margin-left: 13px;
	margin-top: -2940px;
}

#u5836-6
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu5901
{
	z-index: 158;
	width: 0.01px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u5936
{
	z-index: 159;
	width: 55px;
	position: relative;
	margin-right: -10000px;
}

#u5937
{
	position: absolute;
	width: 55px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u5863:hover,.ie #u5937
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5937:hover
{
	width: 55px;
	height: 51px;
	min-height: 0px;
	margin: 0px;
}

#u5904
{
	position: absolute;
	width: 579px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 4612px;
	left: 3521px;
	-pie-background: rgba(255,255,255,0.9);
}

#u5904popup
{
	z-index: 161;
}

#u5905
{
	z-index: 162;
	width: 535px;
	height: 5199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5909-6
{
	z-index: 176;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	margin-left: 41px;
	position: relative;
}

#u5930
{
	z-index: 211;
	width: 516px;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 12px;
	position: relative;
}

#u5925-4
{
	z-index: 206;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 16px;
	margin-top: 28px;
	position: relative;
}

#u5926
{
	z-index: 175;
	width: 513px;
	min-height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 16px;
	margin-top: 27px;
	position: relative;
}

#u5913-4
{
	z-index: 202;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 16px;
	margin-top: 13px;
	position: relative;
}

#u5910
{
	z-index: 173;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 42px;
	position: relative;
}

#u5923-4
{
	z-index: 198;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 13px;
	margin-top: 17px;
	position: relative;
}

#u5928
{
	z-index: 171;
	width: 517px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 37px;
	position: relative;
}

#u5935-4
{
	z-index: 194;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 8px;
	margin-top: 17px;
	position: relative;
}

#u5918
{
	z-index: 167;
	width: 515px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 36px;
	position: relative;
}

#u5933
{
	z-index: 213;
	width: 515px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 1px;
	position: relative;
}

#u5920-4
{
	z-index: 190;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 8px;
	margin-top: 27px;
	position: relative;
}

#u5914
{
	z-index: 174;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 21px;
	position: relative;
}

#u5932-4
{
	z-index: 186;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 5px;
	margin-top: 15px;
	position: relative;
}

#u5921
{
	z-index: 169;
	width: 518px;
	background-color: transparent;
	margin-left: 4px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u5908-4
{
	z-index: 163;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 4px;
	margin-top: 14px;
	position: relative;
}

#u5906
{
	z-index: 210;
	width: 516px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 9px;
	position: relative;
}

#u5924-4
{
	z-index: 182;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 4px;
	margin-top: 18px;
	position: relative;
}

#u5916
{
	z-index: 215;
	width: 516px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u5912-4
{
	z-index: 216;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 22px;
	position: relative;
}

#u5940
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 4693px;
	left: 3909px;
}

#u5940:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5941-4
{
	z-index: 221;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5837-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#pamphletu5968
{
	z-index: 385;
	width: 0.01px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u5971
{
	z-index: 386;
	width: 120px;
	position: relative;
	margin-right: -10000px;
}

#u5972
{
	position: absolute;
	width: 120px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u5937:hover,.ie #u5972
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5972:hover
{
	width: 120px;
	height: 51px;
	min-height: 0px;
	margin: 0px;
}

#u5973
{
	position: absolute;
	width: 737px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 1790px;
	left: 3557px;
	-pie-background: rgba(255,255,255,0.9);
}

#u5973popup
{
	z-index: 388;
}

#u5974
{
	z-index: 389;
	width: 691px;
	height: 1176px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 1px;
	padding-right: 1px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5975-5
{
	z-index: 436;
	width: 348px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 5px;
	margin-left: 178px;
	position: relative;
}

#u5977-19
{
	z-index: 390;
	width: 120px;
	min-height: 158px;
	background-color: transparent;
	margin-left: 286px;
	margin-top: 49px;
	position: relative;
}

#u5979
{
	z-index: 431;
	width: 691px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 50px;
	position: relative;
}

#u5978-4
{
	z-index: 432;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 4px;
	position: relative;
}

#u5976-22
{
	z-index: 409;
	width: 634px;
	min-height: 282px;
	background-color: transparent;
	margin-left: 29px;
	margin-top: 71px;
	position: relative;
}

#u5977-2,#u5976-2
{
	font-weight: bold;
}

#u5969
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 1837px;
	left: 4088px;
}

#u5969:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5970-4
{
	z-index: 442;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5838-6
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#pamphletu5879
{
	z-index: 128;
	width: 0.01px;
	height: 44px;
	margin-left: 7px;
	top: -9786px;
	margin-bottom: -44px;
	position: relative;
}

#u5893
{
	z-index: 129;
	width: 114px;
	position: relative;
	margin-right: -10000px;
}

#u5894
{
	position: absolute;
	width: 114px;
	height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u5972:hover,.ie #u5894
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5894:hover
{
	width: 114px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u5882
{
	position: absolute;
	width: 880px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 374px;
	left: 4007px;
	-pie-background: rgba(255,255,255,0.9);
}

#u5882popup
{
	z-index: 131;
}

#u5883
{
	z-index: 132;
	width: 836px;
	height: 1671px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5888-6
{
	z-index: 137;
	width: 836px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	position: relative;
}

#u5889
{
	z-index: 133;
	width: 836px;
	background-color: transparent;
	margin-top: 67px;
	position: relative;
}

#u5886-4
{
	z-index: 143;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 34px;
	position: relative;
}

#u5884
{
	z-index: 135;
	width: 836px;
	background-color: transparent;
	margin-top: 35px;
	position: relative;
}

#u5887-4
{
	z-index: 147;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 15px;
	position: relative;
}

#u5897
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 453px;
	left: 4620px;
}

#u5897:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5898-4
{
	z-index: 152;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu5840-4
{
	width: 0.01px;
	padding-bottom: 3145px;
	margin-left: 13px;
	margin-top: -9789px;
}

#u5840-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#pamphletu5942
{
	z-index: 225;
	width: 0.01px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 153px;
}

#u5953
{
	z-index: 226;
	width: 98px;
	position: relative;
	margin-right: -10000px;
}

#u5954
{
	position: absolute;
	width: 98px;
	height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u5894:hover,.ie #u5954
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5954:hover
{
	width: 98px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u5949
{
	position: absolute;
	width: 493px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 2779px;
	left: 5072px;
	-pie-background: rgba(255,255,255,0.9);
}

#u5949popup
{
	z-index: 228;
}

#u5950
{
	z-index: 229;
	width: 449px;
	height: 392px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5951-4
{
	z-index: 266;
	width: 254px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 5px;
	margin-left: 97px;
	position: relative;
}

#u5952-36
{
	z-index: 230;
	width: 449px;
	min-height: 322px;
	background-color: transparent;
	margin-top: 40px;
	position: relative;
}

#u5943
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 2799px;
	left: 5443px;
}

#u5943:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5944-4
{
	z-index: 271;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5841-6
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 153px;
}

#pamphletu5985
{
	z-index: 446;
	width: 0.01px;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#u5990
{
	z-index: 447;
	width: 89px;
	position: relative;
	margin-right: -10000px;
}

#u5991
{
	position: absolute;
	width: 89px;
	height: 66px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u5954:hover,.ie #u5991
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5991:hover
{
	width: 89px;
	height: 66px;
	min-height: 0px;
	margin: 0px;
}

#u5992
{
	position: absolute;
	width: 880px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 105px;
	left: 6368px;
	-pie-background: rgba(255,255,255,0.9);
}

#u5992popup
{
	z-index: 449;
}

#u5993
{
	z-index: 450;
	width: 836px;
	height: 2314px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 51px;
	padding-bottom: 51px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5998-4
{
	z-index: 451;
	width: 836px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	position: relative;
}

#u5999
{
	z-index: 465;
	width: 788px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 28px;
	position: relative;
}

#u5997-4
{
	z-index: 459;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 48px;
	margin-top: 28px;
	position: relative;
}

#u5995
{
	z-index: 463;
	width: 788px;
	background-color: transparent;
	margin-left: 48px;
	margin-top: 28px;
	position: relative;
}

#u5994-4
{
	z-index: 455;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 48px;
	margin-top: 28px;
	position: relative;
}

#u6001
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 176px;
	left: 7032px;
}

#u6001:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6002-4
{
	z-index: 468;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5842-6
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 266px;
}

#ppamphletu6018
{
	width: 0.01px;
	padding-bottom: 9065px;
	margin-left: 7px;
	margin-top: -9724px;
}

#pamphletu6018
{
	z-index: 494;
	width: 0.01px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u6043
{
	z-index: 495;
	width: 135px;
	position: relative;
	margin-right: -10000px;
}

#u6044
{
	position: absolute;
	width: 135px;
	height: 56px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u5991:hover,.ie #u6044
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6044:hover
{
	width: 135px;
	height: 56px;
	min-height: 0px;
	margin: 0px;
}

#u6021
{
	position: absolute;
	width: 779px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 3357px;
	left: 8199px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6021popup
{
	z-index: 497;
}

#u6022
{
	z-index: 498;
	width: 735px;
	height: 2908px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6036-6
{
	z-index: 503;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	margin-left: 153px;
	position: relative;
}

#u6037
{
	z-index: 501;
	width: 717px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 60px;
	position: relative;
}

#u6023-4
{
	z-index: 509;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 16px;
	margin-top: 15px;
	position: relative;
}

#u6030
{
	z-index: 499;
	width: 398px;
	background-color: transparent;
	margin-left: 144px;
	margin-top: 58px;
	position: relative;
}

#u6035-4
{
	z-index: 513;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 144px;
	margin-top: 16px;
	position: relative;
}

#u6028
{
	z-index: 531;
	width: 315px;
	background-color: transparent;
	margin-left: 186px;
	margin-top: 92px;
	position: relative;
}

#u6032-4
{
	z-index: 517;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 186px;
	margin-top: 24px;
	position: relative;
}

#u6026
{
	z-index: 533;
	width: 300px;
	background-color: transparent;
	margin-left: 201px;
	margin-top: 173px;
	position: relative;
}

#u6034-4
{
	z-index: 523;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 201px;
	margin-top: 27px;
	position: relative;
}

#u6024
{
	z-index: 521;
	width: 702px;
	background-color: transparent;
	margin-top: 143px;
	position: relative;
}

#u6033-4
{
	z-index: 527;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 22px;
	position: relative;
}

#u6039
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 3434px;
	left: 8774px;
}

#u6039:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6040-4
{
	z-index: 536;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5852-6
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#pamphletu5955
{
	z-index: 275;
	width: 0.01px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 158px;
}

#u5964
{
	z-index: 276;
	width: 114px;
	position: relative;
	margin-right: -10000px;
}

#u5965
{
	position: absolute;
	width: 114px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6044:hover,.ie #u5965
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5965:hover
{
	width: 114px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
}

#u5958
{
	position: absolute;
	width: 721px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 3657px;
	left: 1910px;
	-pie-background: rgba(255,255,255,0.9);
}

#u5958popup
{
	z-index: 278;
}

#u5959
{
	z-index: 279;
	width: 449px;
	height: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 5px 114px 4px;
}

#u5961-6
{
	z-index: 374;
	width: 348px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 5px;
	margin-left: 26px;
	position: relative;
}

#u5960-94
{
	z-index: 280;
	width: 449px;
	min-height: 441px;
	background-color: transparent;
	margin-top: 50px;
	position: relative;
}

#u5952-2,#u5960-4
{
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
}

#u5952-4,#u5952-5,#u5952-7,#u5952-9,#u5952-11,#u5952-13,#u5952-15,#u5952-17,#u5952-19,#u5952-21,#u5952-23,#u5952-25,#u5952-27,#u5952-29,#u5952-31,#u5952-33,#u5960-6,#u5960-10,#u5960-12,#u5960-14,#u5960-16,#u5960-18,#u5960-22,#u5960-24,#u5960-26,#u5960-28,#u5960-32,#u5960-34,#u5960-36,#u5960-38,#u5960-40,#u5960-44,#u5960-46,#u5960-48,#u5960-50,#u5960-54,#u5960-56,#u5960-58,#u5960-62,#u5960-64,#u5960-66,#u5960-70,#u5960-72,#u5960-78,#u5960-81
{
	font-size: 15px;
	line-height: 18px;
}

#u5960-85
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u5960-87,#u5960-89
{
	font-size: 12px;
	line-height: 14px;
}

#u5960-91
{
	font-size: 12px;
	text-align: right;
	line-height: 14px;
}

#u5966
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 3738px;
	left: 2408px;
}

#u5966:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u5967-4
{
	z-index: 381;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5845-6
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 159px;
}

#pamphletu6003
{
	z-index: 472;
	width: 0.01px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 295px;
}

#u6006
{
	z-index: 473;
	width: 80px;
	position: relative;
	margin-right: -10000px;
}

#u6007
{
	position: absolute;
	width: 80px;
	height: 44px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u5965:hover,.ie #u6007
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6007:hover
{
	width: 80px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u6008
{
	position: absolute;
	width: 922px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 7954px;
	left: 8075px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6008popup
{
	z-index: 475;
}

#u6009
{
	z-index: 476;
	width: 878px;
	height: 1121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6010-6
{
	z-index: 479;
	width: 200px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 5px;
	margin-left: 339px;
	position: relative;
}

#u6012
{
	z-index: 477;
	width: 700px;
	background-color: transparent;
	margin-left: 89px;
	margin-top: 31px;
	position: relative;
}

#u6011-4
{
	z-index: 485;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 89px;
	margin-top: 43px;
	position: relative;
}

#u6016
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 8033px;
	left: 8631px;
}

#u6016:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6017-4
{
	z-index: 490;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5846-6
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 295px;
}

#pamphletu6063
{
	z-index: 568;
	width: 0.01px;
	height: 47px;
	top: -9660px;
	margin-bottom: -47px;
	position: relative;
}

#u6064
{
	z-index: 569;
	width: 129px;
	position: relative;
	margin-right: -10000px;
}

#u6065
{
	position: absolute;
	width: 129px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6007:hover,.ie #u6065
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6065:hover
{
	width: 129px;
	height: 47px;
	min-height: 0px;
	margin: 0px;
}

#u6070
{
	position: absolute;
	width: 922px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 3299px;
	left: 6091px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6070popup
{
	z-index: 571;
}

#u6071
{
	z-index: 572;
	width: 754px;
	height: 1749px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 62px;
	padding-right: 62px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6075-8
{
	z-index: 579;
	width: 280px;
	background-color: transparent;
	text-align: center;
	margin-left: 237px;
	position: relative;
}

#u6073
{
	z-index: 573;
	width: 752px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 29px;
	position: relative;
}

#u6072-4
{
	z-index: 575;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-left: 2px;
	margin-top: 17px;
	position: relative;
}

#u6077
{
	z-index: 587;
	width: 740px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u6076-4
{
	z-index: 589;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 21px;
	position: relative;
}

#u6066
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 3365px;
	left: 6703px;
}

#u6066:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6067-4
{
	z-index: 594;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu5847-6
{
	width: 0.01px;
	padding-bottom: 1613px;
	margin-left: 7px;
	margin-top: -9659px;
}

#u5847-6
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u5843-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 158px;
}

#pamphletu6107
{
	z-index: 638;
	width: 0.01px;
	height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 272px;
}

#u6126
{
	z-index: 639;
	width: 93px;
	position: relative;
	margin-right: -10000px;
}

#u6127
{
	position: absolute;
	width: 93px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6065:hover,.ie #u6127
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6127:hover
{
	width: 93px;
	height: 54px;
	min-height: 0px;
	margin: 0px;
}

#u6108
{
	position: absolute;
	width: 408px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 265px;
	left: 12568px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6108popup
{
	z-index: 641;
}

#u6109
{
	z-index: 642;
	width: 326px;
	height: 1365px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 30px;
	padding-right: 8px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6119-6
{
	z-index: 661;
	width: 292px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 8px;
	margin-left: 12px;
	position: relative;
}

#u6113
{
	z-index: 655;
	width: 422px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,369,-53);
	-ms-transform: matrix(0,1,-1,0,369,-53);
	transform: matrix(0,1,-1,0,369,-53);
	left: -53px;
	margin-top: 93px;
	margin-bottom: 53px;
	position: relative;
}

#u6115-4
{
	z-index: 647;
	width: 326px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 13px;
	position: relative;
}

#u6110
{
	z-index: 657;
	width: 316px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u6112-4
{
	z-index: 651;
	width: 317px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 8px;
	position: relative;
}

#u6116
{
	z-index: 659;
	width: 420px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,367,-52);
	-ms-transform: matrix(0,1,-1,0,367,-52);
	transform: matrix(0,1,-1,0,367,-52);
	left: -52px;
	margin-top: 60px;
	margin-bottom: 52px;
	position: relative;
}

#u6118-4
{
	z-index: 643;
	width: 315px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 8px;
	position: relative;
}

#u6124
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 343px;
	left: 12918px;
}

#u6124:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6125-4
{
	z-index: 668;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5848-6
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 272px;
}

#ppu5839-4
{
	width: 0.01px;
	padding-bottom: 7213px;
	margin-left: 7px;
	margin-top: -9594px;
}

#pu5839-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -1px;
}

#u5839-4
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
}

#u5811
{
	z-index: 4;
	width: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 5px;
	position: relative;
}

#u5812
{
	z-index: 5;
	width: 68px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5844-6
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 114px;
}

#pamphletu6149
{
	z-index: 706;
	width: 0.01px;
	height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 263px;
}

#u6158
{
	z-index: 707;
	width: 107px;
	position: relative;
	margin-right: -10000px;
}

#u6159
{
	position: absolute;
	width: 107px;
	height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u6127:hover,.ie #u6159
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6159:hover
{
	width: 107px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
}

.ie #u6159:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6152
{
	position: absolute;
	width: 922px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.45);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	padding-bottom: 44px;
	top: 6541px;
	left: 4520px;
	-pie-background: rgba(255,255,255,0.9);
}

#u6152popup
{
	z-index: 709;
}

#u6153
{
	z-index: 710;
	width: 702px;
	height: 733px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 88px;
	padding-right: 88px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6154-8
{
	z-index: 711;
	width: 280px;
	background-color: transparent;
	text-align: center;
	margin-left: 211px;
	position: relative;
}

#u6075-6,#u6154-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6075-2,#u6154-2
{
	line-height: 17px;
}

#u6075-4,#u6154-4
{
	font-size: 24px;
	line-height: 29px;
}

#u6075-5,#u6154-5
{
	font-size: 24px;
	letter-spacing: 5px;
	line-height: 29px;
}

#u6155
{
	z-index: 719;
	width: 701px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 34px;
	position: relative;
}

#u6157-4
{
	z-index: 721;
	width: 458px;
	min-height: 38px;
	background-color: transparent;
	color: #000000;
	letter-spacing: 3px;
	margin-top: 14px;
	position: relative;
}

#u6150
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 5px;
	top: 6607px;
	left: 5128px;
}

#u6150:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6105:active,#u6147:active,#u6046:active,#u5866:active,#u5940:active,#u5969:active,#u5897:active,#u5943:active,#u6001:active,#u6039:active,#u5966:active,#u6016:active,#u6066:active,#u6124:active,#u6150:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u6151-4
{
	z-index: 726;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u5849-6
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 267px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

